#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.hero_background {
    height: 80vh;
    max-height: 800px;
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_callToAction {
    position: absolute;
    bottom: 6em;    
    text-transform: uppercase;
    letter-spacing: .2em;
    transition: all .5s;

    &:hover {
        letter-spacing: .5em;
    }

    a {
        color: $clr-grey;
    }
}
