#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.hero_background {
    height: 85vh;
    max-height: 1000px;
    background-image: url(./assets/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_callToAction {
    position: absolute;
    bottom: 6em;    
    text-transform: uppercase;
    letter-spacing: .5em;

    a {
        color: $clr-grey;
    }
}
