.nav {
    position: fixed;
    left: 0;
    right: 0;
    background: #1E1F1E;
    padding: 1.5em 3em;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    
    .nav_logo {
        img{
            width: 175px;
        }
    }

    .nav_menu {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 2em;
    }
    
    .nav_link {
        color: #dddddd;
        text-transform: uppercase;
        transition: all .5s;

        &:hover {
            color: #F1D255;
        }
    }
}

.nav-active {
    box-shadow: 0px 0px 5px 3px #00000040;
}