@import './styles/reset';
@import './styles/global';
@import './components/NavBar/navBar';
@import './components/Hero/hero';
@import './components/About/about';
@import './components/SocialIcons/socialIcons';
@import './components/Card/card';
@import './components/NosServices/service';
@import './components/Tarifs/tarifs';
