/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #dddddd;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

#root section {
  padding: 5em 10em;
}

section .section_title {
  font-size: clamp(25px, 45px, 4vw);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

section .content {
  max-width: 1400px;
  margin: auto;
}

.subtitle {
  text-transform: uppercase;
  font-size: clamp(15px, 24px, 2vw);
  font-weight: 700;
  margin: 1em 0;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  background: #1E1F1E;
  padding: 1.5em 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

.nav .nav_logo img {
  width: 175px;
}

.nav .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.nav .nav_link {
  color: #dddddd;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav .nav_link:hover {
  color: #F1D255;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_background {
  height: 85vh;
  max-height: 1000px;
  background-image: url(./assets/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_logo {
  width: 250px;
}

.hero_callToAction {
  position: absolute;
  bottom: 6em;
  text-transform: uppercase;
  letter-spacing: .5em;
}

.hero_callToAction a {
  color: #dddddd;
}

.about_contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5em;
          column-gap: 5em;
}

.about_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 750px;
}

.about_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.about_right .about_subtitle {
  text-align: center;
}

.about_text {
  font-size: clamp(10px, 21px, 4vw);
}

.about_img {
  display: block;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
}

.social-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.social-icon-container {
  padding: 8px;
  background-color: #1e1e1e;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_card {
  max-width: 520px;
  height: auto;
}

.service_card img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

#section-services .section_title {
  text-align: center;
}

#section-tarifs {
  background-color: #1e1e1e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  padding: 0 !important;
}

#section-tarifs .section_title {
  color: #F1D255;
  text-align: center;
}

.tarifs_background {
  background-image: url(./assets/outils-barber.jpg);
  background-size: cover;
}

.tarifs_content {
  padding: 2em 4em;
}

.tarif_service {
  margin-bottom: 2em;
}

.tarif_wrapServiceTitlePrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.tarif_service-title, .tarif_price {
  font-size: clamp(10px, 23px, 2vw);
}

.tarif_service-title, .tarif_price, .tarif_service-details {
  color: #dddddd;
}

.slick-prev {
  left: 25px;
}

.slick-slide img {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.slick-next {
  right: 25px;
}
/*# sourceMappingURL=index.css.map */