.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    column-gap: 5px;    
}

#section-services .section_title {
    text-align: center;
}